.carousel .carousel-indicators {
    bottom: 3rem;
}

h4,
.h4 {
    font-size: 1.125rem;
    line-height: 3.5em;
}

.title-margin-top {
    margin-top: 0;
}

.title-margin-bottom {
    margin-bottom: 0;
}

.title-section {
    padding-bottom: 60px;
}

.about-cj,
.about-sri-lanka {
    padding-bottom: 20px;
    max-width: 54rem;
}

.about-cj-sub-header,
.about-sri-lanka-sub-header {
    margin-top: 2vh;
    text-align: center;
}

.content-description {
    text-align: justify;
}

.content-description-vertical-line-left{
    border-left: 2.3px solid #3c4859;
    padding-left: 10px;
}

.card-about-sri-lanka {
    margin: 0 auto;
    border-radius: 0;
    max-width: 65rem;
    h4 {
        margin-bottom: -12px;
    }
}

.about-sri-lanka-p-width{
    text-align: justify;
    max-width: 32rem;
}