h4,
.h4 {
    font-size: 1.125rem;
    line-height: 3.5em;
}

.title-margin-top {
    margin-top: 0;
}

.title-margin-bottom {
    margin-bottom: 0;
}

.section {
    padding: 25px 0 5px 0px !important;
}

.content-description-vertical-line-left {
    border-left: 2.3px solid rgba(60, 72, 89, 1);
    padding-left: 10px;
}

.about-cj {
    padding-bottom: 20px;
    max-width: 65rem;
}

.about-cj-sub-header {
    margin-top: 2vh;
    text-align: center;
}