<div class="container section text-center title-section">
  <div>
    <h2 class="title title-margin-bottom">Welcome to Cinnamon Journeys</h2>
  </div>
  <div>
    <h5 class="title title-margin-top">- Excursion at your own Liberty and Leisure -</h5>
  </div>
</div>

<div class="container about-cj">
  <p class="about-cj-sub-header">
    <strong class="title">
      Beyond Commercialism Perspective in sustainable Tourism along with Cooperative,Cordial innovative
      Strategies
    </strong>
  </p>

  <div class="content-description content-description-vertical-line-left">
    <p>
      We are a destination Management Agency which is being located in the Central hills in Sri Lanka. Plan a tour or
      holiday in Sri Lanka. Our prime
      objective is to render a good service to our holiday makers, which will be definitely wonderful, splendid and
      enjoyable in our tours in Sri Lanka.

    </p>

    <p>
      Our staff is committed, well experienced and authorized we are fully dedicated to provide you nice, peaceful
      accommodation. We will cater you wonderful tours and excursions in the beautiful island in Sri Lanka.
    </p>

    <p>
      Excursions across country side, away from towns and cities with fields’ woods and dairy farms along with cool,
      salubrious climes will definitely cater you an unforgettable experience in your life, during the seasonal tours
      in Sri Lanka.
    </p>
  </div>

</div>