<div class="container section text-center title-section">
  <div>
    <h2 class="title title-margin-bottom">{{title}}</h2>
  </div>
  <div>
    <h5 class="title title-margin-top">- {{subtitle}} -</h5>
  </div>
</div>

<div class="container about-cj">
  <p class="about-cj-sub-header">
    <strong class="title">{{content}}</strong>
  </p>

  <div class="content-description">
    <!-- class content-description-vertical-line-left -->
    <p class="text-justify" *ngFor="let paragraph of description">
      {{paragraph}}
    </p>
  </div>

</div>