<div class="com-e">

  <div class="e-header">
    <h3 class="title text-center">Why book with us</h3>
  </div>

  <div class="e-body">

    <div class="row">

      <div class="col-md-4 ml-auto" *ngFor="let item of reasonToTravelWithUs">

        <div class="info info-horizontal">
          <div class="icon" [ngClass]=item.style>
            <i class="material-icons">{{item.icon}}</i>
          </div>
          <div class="description">
            <h4 class="info-title">{{item.title}}</h4>
            <p class="description">
              {{item.content}}
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>


</div>