<div class="section-main">
  <section class="section section-b">

    <div class="content-container noselect">

      <ul class="nav nav-pills nav-pills-primary justify-content-center">
        <li class="nav-item" (click)="selectImageCategory(0)">
          <a class="nav-link active" href="#nature" data-toggle="tab" data-target="" draggable="false">
            <i class="material-icons mi-pills text-color-white">nature</i> &nbsp;<span class="text-color-white">Nature</span>
          </a>
        </li>
        <li class="nav-item" (click)="selectImageCategory(1)">
          <a class="nav-link" href="#wildlife" data-toggle="tab" draggable="false">
            <i class="material-icons mi-pills text-color-white">pets</i> &nbsp;<span class="text-color-white">Wild
              Life</span>
          </a>
        </li>
        <li class="nav-item" (click)="selectImageCategory(2)">
          <a class="nav-link" href="#culture" data-toggle="tab" draggable="false">
            <i class="material-icons mi-pills text-color-white">wb_sunny</i> &nbsp;<span class="text-color-white">Culture</span>
          </a>
        </li>
        <li class="nav-item" (click)="selectImageCategory(3)">
          <a class="nav-link" href="#people" data-toggle="tab" draggable="false">
            <i class="material-icons mi-pills text-color-white">people</i> &nbsp;<span class="text-color-white">People</span>
          </a>
        </li>
        <li class="nav-item" (click)="selectImageCategory(4)">
          <a class="nav-link" href="#cities" data-toggle="tab" draggable="false">
            <i class="material-icons mi-pills text-color-white">location_city</i> &nbsp;<span class="text-color-white">Cities</span>
          </a>
        </li>
        <!-- <li class="nav-item" (click)="selectImageCategory('Events')">
          <a class="nav-link" href="#events" data-toggle="tab" draggable="false">
            <i class="material-icons mi-pills text-color-white">event</i> &nbsp;<span class="text-color-white">Events</span>
          </a>
        </li>
        <li class="nav-item" (click)="selectImageCategory('Food')">
          <a class="nav-link" href="#food" data-toggle="tab" draggable="false">
            <i class="material-icons mi-pills text-color-white">event</i> &nbsp;<span class="text-color-white">Food</span>
          </a>
        </li> -->
      </ul>


      <p class="h2 text-center"><strong>
          - {{quoteCategoty}} -
        </strong></p>

      <div class="sec-1 container text-center text-white">
        <p class="h3">{{quoteDescription}}</p>
        <p class="h6"><i>- {{quoteAuthor}} -</i></p>
      </div>
      <!-- <div class="blockquote-container">
        <blockquote class="blockquote text-center">
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
      </div> -->

    </div>
  </section>

  <section>
    <div class="masonry gutterless">
      <div class="brick" *ngFor="let item of myImages">
        <div class="img-container" data-toggle="modal" data-target="#mainModal" (click)="imageDetails(item.path, item.path)">
          <img src="{{item.path}}" alt="Avatar">
        </div>
      </div>
    </div>
  </section>

  <div>
    <button class="btn btn-default btn-round btn-load-more">Load More</button>
  </div>


  <app-gallery-modal [title]='currentModalPreview.path'></app-gallery-modal>
</div>