<section class="section section-b">

  <div class="content-container noselect">

    <ul class="nav nav-pills nav-pills-primary justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#nature" data-toggle="tab" data-target="" draggable="false">
          <i class="material-icons mi-pills text-color-white">nature</i> &nbsp;<span class="text-color-white">Nature</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#wildlife" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills text-color-white">pets</i> &nbsp;<span class="text-color-white">Wild
            Life</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#culture" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills text-color-white">wb_sunny</i> &nbsp;<span class="text-color-white">Culture</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#people" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills text-color-white">people</i> &nbsp;<span class="text-color-white">People</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#cities" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills text-color-white">location_city</i> &nbsp;<span class="text-color-white">Cities</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#events" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills text-color-white">event</i> &nbsp;<span class="text-color-white">Events</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#food" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills text-color-white">event</i> &nbsp;<span class="text-color-white">Food</span>
        </a>
      </li>
    </ul>


    <p class="h2 text-center"><strong>
        - Nature -
      </strong></p>

      <div class="sec-1 container text-center text-white">
        <p class="h3">

          Nature is so powerful, so strong. Capturing its essence is not easy - your work becomes a dance with light
          and the weather. It takes you to a place within yourself.

        </p>
        <p class="h6"><i>- Annie Leibovitz -</i></p>
      </div>
    <!-- <div class="blockquote-container">
      <blockquote class="blockquote text-center">
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      </blockquote>
    </div> -->

    <div class="tab-content tab-space">
      <div class="tab-pane active" id="nature">
        <app-gallery-modal [title]='NATURE'></app-gallery-modal>
      </div>
      <div class="tab-pane" id="wildlife">
        <app-gallery-modal [title]='WILDLIFE'></app-gallery-modal>
      </div>
      <div class="tab-pane" id="culture">
        <app-gallery-modal [title]='CULTURE'></app-gallery-modal>
      </div>
      <div class="tab-pane" id="people">
        <app-gallery-modal [title]='PEOPLE'></app-gallery-modal>
      </div>
      <div class="tab-pane" id="cities">
        <app-gallery-modal [title]='CITIES'></app-gallery-modal>
      </div>
      <div class="tab-pane" id="events">
        <app-gallery-modal [title]='EVENTS'></app-gallery-modal>
      </div>
      <div class="tab-pane" id="food">
        <app-gallery-modal [title]='FOOD'></app-gallery-modal>
      </div>
    </div>
  </div>
</section>