.tour-title {
    h3 {
        text-align: center;
        font-weight: bold;
    }
    p {
        padding: 0rem 3rem 0rem 3rem;
        text-align: justify;
    }
}

.search-excursions {
    max-width: 25rem;
    margin: 0 auto;
}

.tours {
    margin: 2rem 5rem 2rem 5rem;
    .col {
        padding-bottom: 0rem;
    }
    .card-bottom-space {
        padding-bottom: 2rem;
    }
    .btn-more-details {
        padding-bottom: 0.5rem;
        margin-top: 1rem;
        span {
            vertical-align: text-top;
        }
    }
}

.form-size {
    margin: 2rem;
}

.input-icon-font {
    margin-top: -2rem;
    margin-left: -2rem;
    max-width: 2rem;
}

.mat-icon-map {
    font-size: 19px;
    padding-right: 6px;
}

.card {
    max-width: 18rem;
    margin: 0 auto;
}

.card-body {
    height: 8rem;
    padding-bottom: 5px;
}

.card-body-content {
    padding-left: 5px;
    padding-right: 5px;
    height: 5rem;
    overflow-y: auto;
    height: 4rem;
}

.card .card-image {
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-image {
    height: 14rem;
    background-size: cover;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card .card-content .card-title,
.card-reveal .card-title {
    font-size: 17px;
    font-weight: 200;
}

.card-footer-icons {
    padding: 0px 12px 5px 12px;
    text-align: center;
    p {
        display: inline;
        vertical-align: text-bottom;
        font-size: 15px;
        padding-left: 2px;
    }
}

.mi {
    font-size: 18px; //color: #000000a6;
}

.description-container {
    padding-top: 0.5rem;
}

.modal-lg {
    max-width: 60rem;
    margin-top: 40px !important;
}