<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-dark" color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand brand-title" href="#">
        Cinnamon Journeys </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="material-icons">near_me</i> Tours
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="material-icons">beach_access</i> Day Excursions
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="material-icons">event</i> Events
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="material-icons">hotel</i> Hotels
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="material-icons">pets</i> Wild Life
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="material-icons">camera_alt</i> Gallery
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div id="cinnamonJourneys" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#cinnamonJourneys" data-slide-to="0" class="active"></li>
    <li data-target="#cinnamonJourneys" data-slide-to="1"></li>
    <li data-target="#cinnamonJourneys" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/img/slideshow/bg_3.jpg" alt="First slide" draggable="false">
      <div class="carousel-caption d-none d-md-block">
        <h4>
          <i class="material-icons">location_on</i>
          Tangalle Rd, Tangalle, Sri Lanka
        </h4>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/slideshow/bg_5.jpg" alt="Second slide" draggable="false">
      <div class="carousel-caption d-none d-md-block">
        <h4>
          <i class="material-icons">location_on</i>
          Tea Bush Ramboda- Oakray Hotels, Ramboda, Sri Lanka
        </h4>
      </div>
    </div>

    <div class="carousel-item">
      <img class="d-block w-100" src="assets/img/slideshow/bg_1.jpg" alt="Third slide" draggable="false">
      <div class="carousel-caption d-none d-md-block">
        <h4>
          <i class="material-icons">location_on</i>
          Mattala, Sri Lanka
        </h4>
      </div>
    </div>

  </div>

  <a class="carousel-control-prev" href="#cinnamonJourneys" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#cinnamonJourneys" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="main">
  <!-- main-raised -->
  <div class="container section text-center title-section">
    <div>
      <h2 class="title title-margin-bottom">Welcome to Cinnamon Journeys</h2>
    </div>
    <div>
      <h5 class="title title-margin-top">- Excursion at your own Liberty and Leisure -</h5>
    </div>
  </div>

  <div class="container about-cj">
    <p class="about-cj-sub-header">
      <strong class="title">
        Beyond Commercialism Perspective in sustainable Tourism along with Cooperative,Cordial innovative
        Strategies
      </strong>
    </p>

    <div class="content-description content-description-vertical-line-left">
      <p>
        We are a destination Management Agency which is being located in the Central hills in Sri Lanka. Plan a tour or
        holiday in Sri Lanka. Our prime
        objective is to render a good service to our holiday makers, which will be definitely wonderful, splendid and
        enjoyable in our tours in Sri Lanka.

      </p>

      <p>
        Our staff is committed, well experienced and authorized we are fully dedicated to provide you nice, peaceful
        accommodation. We will cater you wonderful tours and excursions in the beautiful island in Sri Lanka.
      </p>

      <p>
        Excursions across country side, away from towns and cities with fields’ woods and dairy farms along with cool,
        salubrious climes will definitely cater you an unforgettable experience in your life, during the seasonal tours
        in Sri Lanka.
      </p>
    </div>

  </div>

  <div class="container about-sri-lanka">
    <p class="about-sri-lanka-sub-header">
      <strong class="title">
        About Sri Lanka
      </strong>
    </p>
  </div>

  <div class="card bg-dark text-white card-about-sri-lanka">

    <div class="carousel slide" data-ride="carousel" data-interval="6000">

      <div class="carousel-inner">

        <div class="carousel-item active">
          <img class="d-block w-100" src="assets/img/slideshow/bg_3.jpg" alt="First slide" draggable="false">
          <div class="card-img-overlay">
            <h4 class="card-title">Pearl of the Indian Ocean</h4>
            <p class="card-text about-sri-lanka-p-width">
              Sri Lanka peacefully located in the Indian Ocean in South Asia has a history dating
              back to the birth of
              time.it is the place where the original soul of Buddhism still flourishes and where nature’s beauty
              remains
              abundant and un spoilt.
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/slideshow/bg_5.jpg" alt="Second slide" draggable="false">
          <div class="card-img-overlay">
            <h4 class="card-title">View of Sri Lanka</h4>
            <p class="card-text about-sri-lanka-p-width">
              Stunning landscapes, pristine beaches, captivating cultural heritage and unique experiences with in such
              a
              completed location. Within a mere area of 65,610 kilometers UNESCO World Heritage sites,1,330 kilometers
              of
              coastline along with pristine beaches,15 national parks show casting an abundance of wildlife nearly
              500,000
              acres of lush tea estates,250 acres of Botanical Gardens 350 waterfalls 25,000 water bodies to a Nation
              that
              extends back to over 2,500 years.
            </p>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="assets/img/slideshow/bg_1.jpg" alt="Third slide" draggable="false">
          <div class="card-img-overlay">
            <h4 class="card-title">Many indentities</h4>
            <p class="card-text about-sri-lanka-p-width">
              This an island of magical proportions once known as Serendib ,Tabrobance the pearl of the Indian ocean,
              and
              Ceylon.
            </p>
          </div>
        </div>

      </div>
    </div>


  </div>

</div>



<footer class="footer footer-default">
  <div class="container">
    <nav class="float-left">
      <ul>
        <li>
          <a href="mailto:prasad.mads@gmail.com">
            Contact Developer
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      <i class="material-icons">code</i> with <i class="material-icons">favorite</i> by
      <a href="mailto:prasad.mads@gmail.com" target="blank">Prasad</a> for CJ.
    </div>
  </div>
</footer>