.carousel .carousel-indicators {
    bottom: 3rem;
}

h4,
.h4 {
    font-size: 1.125rem;
    line-height: 3.5em;
}

.brand-title {
    font-weight: bold;
    font-family: "Roboto Slab", "Times New Roman", serif;
}

.title-margin-top {
    margin-top: 0;
}

.title-margin-bottom {
    margin-bottom: 0;
}

.about-section {
    padding-bottom: 50px;
}

.about-cj-sub-header {
    margin-top: 2vh;
}