<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg bg-dark noselect"
  color-on-scroll="100">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand brand-title" routerLink="">
        <img src="./assets/img/Logo.png" alt="" style="width: 2rem;">
        Cinnamon Journeys
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item navigation-tab-color">
          <a routerLink="/home" class="nav-link">
            <i class="material-icons">home</i> Home
          </a>
        </li>
        <li class="nav-item navigation-tab-color">
          <a routerLink="/tours" class="nav-link">
            <i class="material-icons">flight_takeoff</i> Tours
          </a>
        </li>
        <li class="nav-item navigation-tab-color">
          <a routerLink="/gallery" class="nav-link">
            <i class="material-icons">camera_alt</i> Gallery
          </a>
        </li>
        <li class="nav-item navigation-tab-color">
          <a routerLink="/about-us" class="nav-link">
            <i class="material-icons">mood</i> About us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>