<div id="cinnamonJourneys" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#cinnamonJourneys" data-slide-to="0" class="active"></li>
    <li data-target="#cinnamonJourneys" data-slide-to="1"></li>
    <li data-target="#cinnamonJourneys" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">

      <div class="header-filter">
        <img class="d-block w-100" src="assets/img/slideshow/bg_3.jpg" alt="First slide" draggable="false">
      </div>

      <div class="carousel-caption d-none d-md-block">
        <div>
          <h1 class="title carousel-title">Sigiriya, Sri Lanka</h1>
          <h4 class="carousel-content">Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano
            by Italian designers
            Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
        </div>
        <div>
          <h4>
            <i class="material-icons">location_on</i>
            Tangalle Rd, Tangalle, Sri Lanka
          </h4>
        </div>
      </div>

    </div>

    <div class="carousel-item">

      <div class="header-filter">
        <img class="d-block w-100" src="assets/img/slideshow/bg_5.jpg" alt="Second slide" draggable="false">
      </div>

      <div class="carousel-caption d-none d-md-block">
        <div>
          <h1 class="title carousel-title">Kandy, Sri Lanka</h1>
          <h4 class="carousel-content">Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano
            by Italian designers
            Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
        </div>
        <div>
          <h4>
            <i class="material-icons">location_on</i>
            Tea Bush Ramboda- Oakray Hotels, Ramboda, Sri Lanka
          </h4>
        </div>
      </div>

    </div>

    <div class="carousel-item">

      <div class="header-filter">
        <img class="d-block w-100" src="assets/img/slideshow/bg_1.jpg" alt="Third slide" draggable="false">
      </div>

      <div class="carousel-caption d-none d-md-block">
        <div>
          <h1 class="title carousel-title">Sri Lanka</h1>
          <h4 class="carousel-content">Dolce &amp; Gabbana is a luxury Italian fashion house founded in 1985 in Legnano
            by Italian designers
            Domenico Dolce and Stefano Gabbana. The two met in Milan in 1980 and designed for the same fashion house.</h4>
        </div>
        <div>
          <h4>
            <i class="material-icons">location_on</i>
            Mattala, Sri Lanka
          </h4>
        </div>

      </div>

    </div>

  </div>

  <a class="carousel-control-prev" href="#cinnamonJourneys" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#cinnamonJourneys" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>