<div id="cinnamonJourneys" class="carousel slide noselect" data-ride="carousel">
  <ol class="carousel-indicators">
    <!-- <li data-target="#cinnamonJourneys" data-slide-to="0" class="active"></li> -->
    <!-- <li data-target="#cinnamonJourneys" data-slide-to="1"></li>
    <li data-target="#cinnamonJourneys" data-slide-to="2"></li>
    <li data-target="#cinnamonJourneys" data-slide-to="3"></li> -->
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item" *ngFor="let item of carousel" [ngClass]="item.activeImage">

      <div class="header-filter">
        <img class="d-block w-100" [src]="item.src" alt="carousel" draggable="false">
      </div>

      <div class="carousel-caption d-none d-md-block">
        <div>
          <h1 class="title carousel-title">{{item.title}}</h1>
          <h4 class="carousel-content">{{item.content}}</h4>
        </div>
        <div>
          <h4>
            <i class="material-icons">location_on</i>
            {{item.location}}
          </h4>
        </div>
      </div>

    </div>

  </div>

  <a class="carousel-control-prev" href="#cinnamonJourneys" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#cinnamonJourneys" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>