h4,
.h4 {
    font-size: 1.125rem;
    line-height: 3.5em;
}

.about-sl {
    text-align: center;
}

.card-about-sri-lanka {
    margin: 0 auto;
    max-width: 55rem;
    img {
        border-radius: 6px;
    }
}

.sl-description {
    text-align: justify;
    margin: 1rem;
}

.sec-2 {
    margin-bottom: 2rem;
    .icon,
    .info-title {
        text-align: center;
        margin: 0 auto;
    }
    .info {
        padding: 14px 0px 32px;
    }
    p {
        text-align: justify;
        height: 20vh;
        overflow: auto;
    }
    .card {
        max-width: 20rem;
        margin: 0 auto;
    }
    .col-md-4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.card-background {
    background-size: cover;
}

.text-info {
    color: rgba(0, 0, 0, 0.53) !important;
}

.card-title {
    color: rgba(253, 254, 255, 1) !important;
}

.about-sri-lanka-sub-header {
    margin-top: 2vh;
    text-align: center;
}

.card-background-overlay {
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.37);
    p {
        color: rgba(255, 255, 255, 1);
    }
}

.card-from-top {
    margin-top: 1rem !important;
}