<div class="container about-sl">
  <h2 class="title">- Pearl of Indian Ocean -</h2>
</div>


<div class="row about-sl noselect">

  <div class="col-md-6" *ngFor="let item of row1">
    <div class="card card-raised card-background" [style.backgroundImage]="'url('+ item.src +')'">
      <div class="card-body card-background-overlay">
        <h6 class="card-category text-info">
          <span class="badge" [ngClass]="item.style">{{item.name}}</span>
        </h6>
        <!-- <h3 class="card-title">{{item.title}}</h3> -->
        <p class="card-description text-justify">{{item.description}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-12" *ngFor="let item of row2">
    <div class="card card-raised card-background" [style.backgroundImage]="'url('+ item.src +')'">
      <div class="card-body card-background-overlay">
        <h6 class="card-category text-info">
          <span class="badge" [ngClass]="item.style">{{item.name}}</span>
        </h6>
        <!-- <h3 class="card-title">{{item.title}}</h3> -->
        <p class="card-description  text-justify">{{item.description}}</p>

      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-8 ml-auto mr-auto">

    <h5 class="sl-description">{{row3}}</h5>
  </div>

</div>

<div class="about-sl">
  <h3 class="title">Why Sri Lanka</h3>
</div>

<div class="row sec-2">
  
  <div class="col-md-4" *ngFor="let item of row4">
    <div class="card" [ngClass]="item.style">
      <div class="card-body">
        <div class="info">
          <div class="icon" [ngClass]="item.color">
            <i class="material-icons">{{item.icon}}</i>
          </div>
          <h4 class="info-title">{{item.title}}</h4>
          <p>{{item.content}}</p>
        </div>
      </div>
    </div>
  </div>

</div>