<div class="container about-sl">
  <h2 class="title">- Sri Lanka -</h2>
</div>


<div class="row about-sl">
  <div class="col-md-6">
    <div class="card card-raised card-background" style="background-image: url('./src/assets/img/tours/diversity.jpg')">
      <div class="card-body">
        <h6 class="card-category text-info">Diversity</h6>
        <h3 class="card-title">The Sculpture Where Details Matter</h3>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card card-raised card-background" style="background-image: url('./src/assets/img/tours/people.jpg')">
      <div class="card-body">
        <h6 class="card-category text-info">People</h6>
        <h3 class="card-title">The Sculpture Where Details Matter</h3>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-raised card-background" style="background-image: url('./src/assets/img/tours/food.jpg')">
      <div class="card-body">
        <h6 class="card-category text-info">Food</h6>
        <h3 class="card-title">0 to 100.000 Customers in 6 months</h3>
        <p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          p class="card-description">
          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like
          Kanye loves Kanye I love Rick Owens’ bed design but the back is...
        </p>

      </div>
    </div>
  </div>
</div>




<div class="row">

  <div class="col-md-8 ml-auto mr-auto">

    <h5 class="sl-description">This is the paragraph where you can write more details about your product. Keep you
      user engaged by providing meaningful information. Remember that by this time, the user is curious,
      otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
  </div>

</div>

<div class="about-sl">
  <h3>Key points</h3>
</div>

<div class="row sec-2">

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="info">
          <div class="icon icon-info">
            <i class="material-icons">location_on</i>
          </div>
          <h4 class="info-title">Location</h4>
          <p>Sri Lanka peacefully located in the Indian Ocean in South Asia has a history dating
            back to the birth of
            time.it is the place where the original soul of Buddhism still flourishes and where nature’s beauty
            remains
            abundant and un spoilt.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">

    <div class="card">
      <div class="card-body">
        <div class="info">
          <div class="icon icon-rose">
            <i class="material-icons">filter_vintage</i>
          </div>
          <h4 class="info-title">Beauty</h4>
          <p>Stunning landscapes, pristine beaches, captivating cultural heritage and unique experiences with in
            such
            a
            completed location. Within a mere area of 65,610 kilometers UNESCO World Heritage sites,1,330
            kilometers
            of
            coastline along with pristine beaches,15 national parks show casting an abundance of wildlife nearly
            500,000
            acres of lush tea estates,250 acres of Botanical Gardens 350 waterfalls 25,000 water bodies to a
            Nation
            that
            extends back to over 2,500 years.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="info">
          <div class="icon icon-success">
            <i class="material-icons">language</i>
          </div>
          <h4 class="info-title">Many Identities</h4>
          <p>This an island of magical proportions once known as Serendib ,Tabrobance the pearl of the Indian
            ocean,
            and
            Ceylon.</p>
        </div>
      </div>
    </div>
  </div>

</div>