<footer class="footer footer-default bg-dark">
  <div class="container">

    <div class="row">

      <div class="col-md">

        <div class="footer-section-1 noselect text-align-left">

          <div class="brand-logo">
            <a href="">
              <img src="./assets/img/Logo_2.png" alt="cinnamonjourneys">
              <!-- <i class="material-icons text-color-white footer-brand-icon" aria-hidden="true">spa</i>
              <span class="title text-color-white">Cinnamon Journeys</span> -->
            </a>
          </div>

          <p class="brand-desc">
            Thanks very much for your reply. But what we need to do is to prevent line break on ckeditor where all the
            content will be entered by the end users. 
          </p>

          <p class="brand-address">
            address
          </p>

        </div>

      </div>

      <div class="col-md">
        <div class="footer-section-2 text-color-white">

          <p class="title text-color-white text-align-left default">Navigate</p>

          <ul>
            <li>
              <a routerLink="/home">
                <i class="material-icons">home</i> Home
              </a>
            </li>
            <li>
              <a routerLink="/tours">
                <i class="material-icons">flight_takeoff</i> Tours
              </a>
            </li>

            <li>
              <a routerLink="/gallery">
                <i class="material-icons">camera_alt</i> Gallery
              </a>
            </li>

            <li>
              <a routerLink="/about-us">
                <i class="material-icons">mood</i> About-us
              </a>
            </li>
          </ul>


        </div>
      </div>

      <div class="col-md">
        <div class="footer-section-3 text-color-white">

          <p class="title text-color-white text-align-left default">Quick Contact</p>

          <ul>
            <li class="default">
                <span>Phone:</span>
            </li>
            <li>
              <span>
                +94 81 123 456
              </span>
            </li>

            <li>
              <span>
                +94 81 123 456
              </span>
            </li>

            <li class="default">
              <span>
                Fax:
              </span>
            </li>
            <li>
              <span>
                Fax@cinnamonjourneys.com
              </span>
            </li>
          </ul>


        </div>
      </div>

      <div class="col-md">
        <div class="footer-section-4 text-color-white">

          <p class="title text-color-white text-align-left default">Legal</p>

          <ul>
            <li>
              <a routerLink="/home">
                Terms of Service
              </a>
            </li>
            <li>
              <a routerLink="/tours">
                Terms of Use
              </a>
            </li>

            <li>
              <a routerLink="/gallery">
                Privacy policies
              </a>
            </li>

            <li>
              <a routerLink="/about-us">
                Copyright notices
              </a>
            </li>
          </ul>


        </div>
      </div>

      <div class="col-md">
        <div class="footer-section-5 text-color-white">

          <p class="title text-color-white text-align-left default">Tweets</p>

          <ul>
            <li>
              <div class="twitter-row noselect">
                <i class="fa fa-twitter"></i>
                &nbsp;
                <p>This message has tweeted by several users
                  <a routerLink="/home">
                    http://example.com
                  </a>
                </p>
              </div>
            </li>

            <li>
              <div class="twitter-row noselect">
                <i class="fa fa-twitter"></i>
                &nbsp;
                <p>This message has tweeted by several users
                  <a href="http://example.com">
                    http://example.com
                  </a>
                </p>
              </div>
            </li>

            <li>
              <div class="twitter-row noselect">
                <i class="fa fa-twitter"></i>
                &nbsp;
                <p>This message has tweeted by several users
                  <a routerLink="/home">
                    http://example.com
                  </a>
                </p>
              </div>
            </li>
            <li>
              <div class="twitter-row noselect">
                <i class="fa fa-twitter"></i>
                &nbsp;
                <p>This message has tweeted by several users
                  <a routerLink="/home">
                    http://example.com
                  </a>
                </p>
              </div>
            </li>
          </ul>


        </div>
      </div>


    </div>

    <hr>

    <div class="row justify-content-center">
      <div>
        <a class="btn btn-just-icon btn-facebook btn-social btn-round">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a class="btn btn-just-icon btn-pinterest btn-social btn-round">
          <i class="fa fa-pinterest-p" aria-hidden="true"></i>
        </a>
        <a class="btn btn-just-icon btn-twitter btn-social btn-round">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="mailto:tours@cinnamonjourneys.com" class="btn btn-just-icon btn-mail btn-social btn-round">
          <i class="material-icons" aria-hidden="true">email</i>
        </a>
      </div>
    </div>

    <div class="row justify-content-center">
      <p class="copyright">All Rights Reserved by CinnamonJourneys - &copy; 2018</p>
    </div>


  </div>
</footer>