.btn-social {
    margin: 1rem;
    background-color: white !important;
    border-color: white !important;
    -webkit-transition: 0.5s;
    i {
        color: #3c4859 !important;
        padding: 1px 0px 0px 1px;
        -webkit-transition: 1s;
        transition: 1s;
    }
}

.btn-social:hover {
    i {
        color: white !important;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
}

.btn-facebook:hover {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, .14), 0 3px 1px -2px rgba(59, 89, 152, .2), 0 1px 5px 0 rgba(59, 89, 152, .12);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn-pinterest:hover {
    background-color: #ce1e1d !important;
    border-color: #ce1e1d !important;
    box-shadow: 0 2px 2px 0 rgba(204, 33, 39, .14), 0 3px 1px -2px rgba(204, 33, 39, .2), 0 1px 5px 0 rgba(204, 33, 39, .12);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn-twitter:hover {
    background-color: #50abf0 !important;
    border-color: #50abf0 !important;
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(85, 172, 238, .2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.btn-mail:hover {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important; //box-shadow: 0 2px 2px 0 rgba(221, 75, 57, .14), 0 3px 1px -2px rgba(221, 75, 57, .2), 0 1px 5px 0 rgba(221, 75, 57, .12);
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(221, 75, 57, .2);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.row {
    margin-top: 2rem;
}

.footer-section-1 {
    img {
        max-width: 11rem;
    }
    .brand-logo {
        padding-bottom: 15px;
    }
    .brand-desc {
        font-weight: 500;
        font-size: 12px;
        text-align: justify;
        color: #cccccc;
    }
    .brand-address {
        font-weight: 500;
        font-size: 12px;
        color: #cccccc;
    }
}

.footer-section-2 {
    margin: 0 auto;
    width: max-content;
    .title {
        margin-top: 38px;
    }
    ul {
        text-align: left;
        margin-top: -15px;
    }
    li {
        display: flow-root;
        color: #cccccc;
        a {
            font-weight: 500;
            font-size: 11.5px;
            text-transform: none;
            padding: 0;
        }
    }
    i {
        vertical-align: text-bottom;
        font-size: 15px;
    }
}

.footer-section-3 {
    margin: 0 auto;
    width: max-content;
    .title {
        margin-top: 38px;
    }
    ul {
        text-align: left;
        margin-top: -15px;
    }
    li {
        display: flow-root;
        color: #cccccc;
        span {
            font-weight: 500;
            font-size: 11.5px;
            text-transform: none;
            padding: 0;
        }
    }
}


.footer-section-4 {
    margin: 0 auto;
    width: max-content;
    .title {
        margin-top: 38px;
    }
    ul {
        text-align: left;
        margin-top: -15px;
    }
    li {
        display: flow-root;
        color: #cccccc;
        a {
            font-weight: 500;
            font-size: 11.5px;
            text-transform: none;
            padding: 0;
        }
    }
}



.footer-section-5 {
    margin: 0 auto;
    width: max-content;
    .title {
        margin-top: 38px;
    }
    ul {
        text-align: left;
        margin-top: -15px;
        max-height: 15rem;
        overflow-y: auto;
    }
    li {
        display: flow-root;
        color: #cccccc;
        .twitter-row {
            display: -webkit-box;
            i {
                color: #38A1F3;
            }
        }
        p {
            max-width: 12rem;
        }
        a {
            font-weight: 500;
            font-size: 11.5px;
            text-transform: none;
            padding: 0;
        }
    }
}

.copyright {
    font-weight: 400;
    color: #cccccc;
}