<footer class="footer footer-default bg-dark">
  <div class="container noselect">

    <div class="row mar-2">

      <div class="col-md-3">

        <div class="footer-section-1 noselect text-left">

          <div class="brand-logo">
            <a href="/">
              <img src="{{brandLogo}}" alt="tamarindjourneys" draggable="false">
              <!-- <i class="material-icons text-color-white footer-brand-icon" aria-hidden="true">spa</i>
              <span class="title text-color-white">Tamarind Journeys</span> -->
            </a>
          </div>

          <p class="brand-desc">{{agencyDescription}}</p>

          <p class="brand-address">
            {{agencyAddress.Line1}} <br>
            {{agencyAddress.Line2}} <br>
            {{agencyAddress.Line3}} <br>
            {{agencyAddress.Line4}}
          </p>

        </div>

      </div>

      <div class="col-md-3 d-none d-md-flex">
        <div class="footer-section-2 text-white">

          <p class="title text-white text-left default">Navigate</p>

          <ul>
            <li>
              <a class="foot-navigation-link" routerLink="/home">
                <i class="material-icons">home</i> Home
              </a>
            </li>
            <li>
              <a class="foot-navigation-link" routerLink="/tours">
                <i class="material-icons">flight_takeoff</i> Tours
              </a>
            </li>

            <li>
              <a class="foot-navigation-link" routerLink="/gallery">
                <i class="material-icons">camera_alt</i> Gallery
              </a>
            </li>

            <li>
              <a class="foot-navigation-link" routerLink="/about-us">
                <i class="material-icons">mood</i> About-us
              </a>
            </li>
          </ul>


        </div>
      </div>

      <div class="col-md-3 d-none d-md-flex">
        <div class="footer-section-3 text-white">

          <p class="title text-white text-left default">Quick Contact</p>

          <ul>
            <li class="default">
              <span>Phone:</span>
            </li>
            <li *ngFor="let contact of agencyContactNumbers">
              <span>
                {{contact}}
              </span>
            </li>

            <!-- <li class="default">
              <span>
                Fax:
              </span>
            </li>
            <li>
              <span>
                Fax@cinnamonjourneys.com
              </span>
            </li> -->
          </ul>


        </div>
      </div>

      <!-- <div class="col-md">
        <div class="footer-section-4 text-white">

          <p class="title text-white text-left default">Legal</p>

          <ul>
            <li>
              <a routerLink="/home">
                Terms of Service
              </a>
            </li>
            <li>
              <a routerLink="/tours">
                Terms of Use
              </a>
            </li>

            <li>
              <a routerLink="/gallery">
                Privacy policies
              </a>
            </li>

            <li>
              <a routerLink="/about-us">
                Copyright notices
              </a>
            </li>
          </ul>


        </div>
      </div> -->

      <div class="col-md-3 d-none d-md-flex">
        <div class="footer-section-5 text-white">

          <p class="title text-white text-left default">Tweets</p>

          <ul>

            <li *ngFor="let item of tweets">
              <div class="twitter-row noselect">
                <i class="fa fa-twitter"></i>
                &nbsp;
                <p>{{item.title}}
                  <a href="{{item.url}}">
                    {{item.provider_url}}
                  </a>
                </p>
              </div>
            </li>

          </ul>



        </div>
      </div>


    </div>

    <hr>

    <div class="row justify-content-center mr2">
      <div>
        <a href="{{agencyFacebookPage}}" target="_blank" class="btn btn-just-icon btn-facebook btn-social btn-round">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <!-- <a class="btn btn-just-icon btn-instagram btn-social btn-round">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a> -->
        <a href="{{agencyTwitterProfile}}" target="_blank" class="btn btn-just-icon btn-twitter btn-social btn-round">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
        <a href="mailto:{{agencyContactEmail}}" class="btn btn-just-icon btn-mail btn-social btn-round">
          <i class="material-icons" aria-hidden="true">email</i>
        </a>
      </div>
    </div>


    <div class="row justify-content-center mr2">
      <ul class="text-white">
        <li>
          <a class="text-transform-none legal" href="">Terms & Conditions</a>
        </li>
        <li>
          <a class="text-transform-none legal" href="">Privacy Policy</a>
        </li>
        <li>
          <a class="text-transform-none legal" href="">Copyright Notices</a>
        </li>
      </ul>
    </div>

    <div class="row justify-content-center">
      <p class="copyright">{{agencyRegistration}} - &copy; {{agencyRegistrationYear}}</p>
    </div>
    <hr>
    <div class="row justify-content-center">
      <p class="contact-developer pointer" data-toggle="modal" data-target="#contactDeveloperModal"> Made with <i
          class="material-icons" aria-hidden="true">favorite</i> for Better
        Travel | Contact Developer</p>
    </div>


  </div>
</footer>

<div class="modal fade noselect" id="contactDeveloperModal" tabindex="-1" role="dialog"
  aria-labelledby="contactDeveloperModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactDeveloperModalLabel"><b>Here are my details</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container">

          <p class="h6 text-transform-none">Click to copy or open your mail/call client</p>
          <br>

          <div class="row">

            <div class="col-md-7">
              <a class="t-color" href="mailto:{{devEmail}}" (click)="copyToClickboard('emailAddress')">
                <p class="text-left">
                  <i class="fa fa-google repo-fa"></i> &nbsp;
                  <b>{{devEmail}}</b>
                  &nbsp;
                  <i *ngIf="isEmail" class="fa fa-check-circle fa-copied"></i>
                </p>
              </a>
            </div>

            <div class="col-md-5 justify-content-center">
              <a class="t-color" href="tel:{{devTel}}" (click)="copyToClickboard('mobileNumber')">
                <p class="text-left">
                  <i class="fa fa-phone"></i> &nbsp;
                  <b>{{devTel}}</b>
                  &nbsp;
                  <i *ngIf="isMobile" class="fa fa-check-circle fa-copied"></i>
                </p>
              </a>
            </div>

          </div>

        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>