<div class="page-container noselect ">

  <div class="cover-img"
    [ngStyle]="{'background-image': 'linear-gradient(rgba(4, 4, 4, 0.45), rgba(255, 255, 255, 0.192)), url(' + cover.src + ')'}">
    <div class="tour-cover-title">
      <h4 class="tour-cover-title-text">{{cover.title}}</h4>
      <p class="tour-cover-sub-title-text"> - {{cover.subtitle}} - </p>
    </div>
  </div>

  <app-tour-types></app-tour-types>

  <div class="tour-title noselect">
    <h3>{{tours.title}}</h3>
    <p>{{tours.content}}</p>
  </div>

  <app-events></app-events>

  <div class="content-container noselect">

    <ul class="nav nav-pills nav-pills-success justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#places" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills">explore</i> &nbsp;<span>Tours Types</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#dexcursions" data-toggle="tab" draggable="false">
          <i class="material-icons mi-pills">beach_access</i> &nbsp;<span>Day Excursions</span>
        </a>
      </li>
    </ul>

    <div class="tab-content tab-space">
      <div class="tab-pane active" id="places">
        <app-places></app-places>
      </div>

      <div class="tab-pane" id="dexcursions">
        <app-excursions></app-excursions>
      </div>

      <!-- <div class="tab-pane" id="events">
        <app-events></app-events>
      </div> -->
    </div>

  </div>

</div>