<video class="video">
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
  Your browser does not support
</video>

<div>

  <div class="search-tours">

    <div class="form-group bmd-form-group form-size">
      <label for="exampleInput1" class="bmd-label-floating">Search Tour</label>
      <input type="email" class="form-control" id="exampleInput1">
      <span class="bmd-help">ex: Temple of the Tooth, Kandy</span>
      <span class="input-group-text input-icon-font">
        <i class="material-icons">search</i>
      </span>
    </div>

  </div>




  <div class="tours"></div>
</div>