.video {
    width: 100%;
}

.cover-img {
    background-image: linear-gradient(rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.192)), url("/assets/img/tours/tour_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
}

.tour-cover-title {
    text-align: center;
    padding-top: 12rem;
}

.tour-cover-title-text {
    color: white;
    margin: 0;
    font-size: 38px;
    font-weight: bold;
}

.tour-cover-sub-title-text {
    color: white;
    margin: 0;
    font-size: 24px;
    text-transform: none;
}

.content-container{
    margin: 2rem;
}

.mi-pills{
    display: inline !important;
    vertical-align: sub;
    font-size: 18px !important;
}

.tour-card-title {
    padding-top: 2rem;
    text-align: center;
}

.tour-card-title-text {
    font-weight: 500;
    font-size: 26px;
    margin: 0 auto;
    max-width: 18rem;
}