.video {
    width: 100%;
}

.search-tours {
    max-width: 25rem;
    margin: 0 auto;
}

.form-size {
    margin: 2rem;
}

.input-icon-font {
    margin-top: -2rem;
    margin-left: -2rem;
    max-width: 2rem;
}