<!-- <video class="video" autoplay>
  <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
  Your browser does not support
</video> -->

<div class="page-container noselect">

  <div class="cover-img">
    <div class="tour-cover-title">
      <h4 class="tour-cover-title-text">Explore beauty in every step</h4>
      <h6 class="tour-cover-sub-title-text"> - Feel your freedom - </h6>
    </div>
  </div>

  <div class="content-container noselect">

    <ul class="nav nav-pills nav-pills-info justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="#places" data-toggle="tab">
          <i class="material-icons mi-pills">explore</i> Places
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#dexcursions" data-toggle="tab">
          <i class="material-icons mi-pills">beach_access</i> Day Excursions
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#events" data-toggle="tab">
          <i class="material-icons mi-pills">event</i> Events
        </a>
      </li>
    </ul>

    <div class="tab-content tab-space">
      <div class="tab-pane active" id="places">
        <app-places></app-places>
      </div>

      <div class="tab-pane" id="dexcursions">
        <app-excursions></app-excursions>
      </div>

      <div class="tab-pane" id="events">
        <app-events></app-events>
      </div>
    </div>

  </div>

</div>