/* You can add global styles to this file, and also import other style files */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.font {
    font-family: roboto, raleway;
}

.pointer {
    cursor: pointer;
}

.default{
    cursor: default;
}

.page-container {
    height: fit-content;
    background-color: white;
}

.text-color-white{
    color: white;
}


.text-align-left{
    text-align: left;
}

.nowrap{
    white-space: nowrap;
}