<section class="noselect">
  <div class="section-b-cover" [style.backgroundImage]="'url('+ gallery_cover +')'">
    <div class="cover-filter">


      <div class="header-content text-md-center  d-none d-md-block text-white">
        <ul class="row round-progress-bar justify-content-center">
          <li class="col-md-4" *ngFor="let x of round" style="max-width:10rem;">

            <circle-progress class="noselect" [percent]=x.value [maxPercent]=x.maxPercent [outerStrokeColor]=x.c1
              [innerStrokeColor]=x.c2></circle-progress>
            <h5 class="h5">{{x.title}}</h5>

          </li>
        </ul>
      </div>

      <div class="sec-1 container text-center text-white tp-sp">
        <p>
          <span class="quote-header">{{quote.header}}</span> 
          <br> <br>
          <span class="quote-body">{{quote.body}}</span>
        </p>
      </div>

    </div>
  </div>
</section>