.section-b-cover {
    background-size: cover;
    background-position: center;
    height: 45rem;
}

.cover-filter {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #232323, #0000468f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #232323, #0000468f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: inherit;
    position: absolute;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.sec-1 {
    padding-top: 1rem;
    max-width: 66rem;
    .h3 {
        font-size: 18px;
        font-weight: 400;
    }
}

.header-content {
    padding-top: 17rem;
}

.round-progress-bar {
    list-style-type: none;
    font-weight: 900;
    h5 {
        margin-top: -8px;
        font-size: 14px;
    }
}

// @media only screen and (max-width: 580px){
//     .text-grey {
//         color: white;
//     }
// }