.section-b-cover {
    background-size: cover;
    background-position: center;
    height: 45rem;
}

.cover-filter {
    //background: #000046;
    //#0000468f
    background: -webkit-linear-gradient(to top, #232323, #00004600);
    background: linear-gradient(to top, #232323, #00004600);
    width: 100%;
    height: inherit;
    position: absolute;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.sec-1 {
    padding-top: 1rem;
    max-width: 66rem;
    .quote-body {
        font-size: 16px;
        font-weight: 400;
        padding-top: 10px;
    }
    .quote-header {
        font-size: 23px;
        font-weight: 400;
    }
}

.header-content {
    padding-top: 17rem;
}

.round-progress-bar {
    list-style-type: none;
    font-weight: 900;
    h5 {
        margin-top: -8px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px){
    .tp-sp{
        padding-top: 17rem;
    }
}