<section>
  <div class="section-b-cover" style="background-image: url('./src/assets/img/tours/cover1.jpg')">
    <div class="cover-filter">
      <div class="sec-1 container text-center text-white">
        <p class="h3">
          Nature is so powerful, so strong. Capturing its essence is not easy - your work becomes a dance with light
          and the weather. It takes you to a place within yourself.
      </div>

      <div class="header-content text-md-center  d-none d-md-block text-white">
        <ul class="row round-progress-bar justify-content-center">
          <li class="col-md-4" *ngFor="let x of round" style="max-width:10rem;">

            <circle-progress class="noselect" [percent]=x.value [maxPercent]=x.value [outerStrokeColor]=x.c1
              [innerStrokeColor]=x.c2></circle-progress>
            <h5 class="h5">{{x.title}}</h5>

          </li>
        </ul>
      </div>


    </div>
  </div>
</section>